.group_area {
    width: 28%;
    height: 100%;
    background-color: #FFF;
    position: relative;

    .logo {
        height: 15%;
        display: flex;
        justify-content: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            span {
                font-size: 2rem;
                font-weight: 500;
            }
        }

    }

    .groups_container {
        max-height: 83%;
        overflow-y: auto;

        > div {
            padding-left: 1.5rem;

            a {
                text-decoration: none;
            }
        }

    }
    
    .add_group_button {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        background-color: var(--dark-blue);
        font-size: 4rem;
        font-weight: 500;
        color: #FFF;
        position: absolute;
        right: 1.2rem;
        bottom: 2rem;
    }

    ::-webkit-scrollbar {
        width: 0.7rem;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0.3rem;
        border: 2px solid transparent;
        background-color: #FFF;
        background-clip: content-box;
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 0.3rem;
        background-color: #D9D9D9;
    }
}

@media screen and (max-width: 675px) {
    .group_area {
        width: 100vw;

        .logo {
            height: 15%;

            div {
                img {
                    width: 2rem;
                    height: 2rem;
                }

                span {
                    font-size: 1.7rem;
                }
            }
        }

        .groups_container {
            max-height: 85%;
        }
    }
    
}