.group_name {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.5rem;
    font-weight: 400;

    .group_short {
        width: 4rem;
        height: 4rem;
        color: #FFF;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 675px) {
    .group_name {
        font-size: 1.2rem;
        gap: 1rem;

        .group_short {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}