.notecard {
    box-sizing: border-box;
    width: 100%;
    background-color: #FFF;
    border-radius: 0.3rem;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.25);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1.2rem 1rem 0.5rem;
    line-height: 1.65rem;

    p {
        margin: 0;
    }

    .date_time {
        height: max-content;
        text-align: right;
        margin-top: 0.5rem;
        font-weight: 500;

        span {
            font-size: 1.5rem;
            position: relative;
            top: 3px;
        }
    }
}

@media screen and (max-width: 675px) {
    .notecard {
        .date_time {
            font-size: 0.85rem;
        }
    }
}